
.one-event-container {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid rgba(211, 211, 211, 0.599);
}

.one-event-page {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

.name-info-container {
  width: 100%;
  margin: 0 10%;
  border-bottom: 1px solid rgba(211, 211, 211, 0.599);
}

.name-info {
  width: 75%;
  display: flex;
  flex-direction: column;
  padding: 24px 8%;
}

.one-event-group-name {
  font-size: 30px;
  font-weight: 800;
  margin: 10px 0 0;
}

.oe-host-info {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 0 10px 0 0;
  height: 60px;
}


.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(246, 64, 96);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 30px;
  font-weight: 800;
  color: #fff;
}



.oe-hosted {
  margin-left: 20px;
  line-height: 8px;
}

.hoster-name {
  font-weight: 600;
}

.one-event-group-details {
  width: 100%;
  height: 100px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.one-event-group-img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin: 0 0 0 30px;
}


.content {
  width: 100%;
  background-color: rgb(246, 247, 248);
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.oe-page-top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}

.one-event-image-container {
  max-width: auto;
  max-height: 372px;
}

.event-image {
  max-height: 372px;
  width: 656px;
  object-fit: cover;
}

.right-side {
  width: 310px;
  height: 350px;
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
}


.oe-group-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 20px;
  text-decoration: none;
  box-sizing: border-box;
}

.oe-group-info:hover {
  color: inherit;
}

.name-group {
  font-weight: 600;
  width: 100%;
  margin: 0;
}

.pub-priv {
  /* margin: 0; */
  font-size: 14px;
  color: rgb(117, 117, 117);
  width: fit-content;
}

.event-specifics {
  border: 1px solid white;
  background-color: white;
  border-radius: 15px;
  width: 100%;
  height: 150px;
}

.time-img-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;

}

.date-times {
  font-size: 14px;
  line-height: 20px;
  max-width: 70%;
}

.one-event-type {
  font-size: 14px;
  max-width: 70%;

}

.time-img {
  opacity: 0.4;
}

.type-img {
  /* position: absolute */
  width: 28px;
  opacity: 0.4;
}

.event-type-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.page-bottom {
  width: 100%;
  height: fit-content;
}


.delete-event {
  background-color: white;
  width: 100%;
  height: 45px;
  border-radius: 15px;
  font-size: 18px;
  margin-top: 15px;
}


.delete-event:hover {
  color: rgb(210, 213, 215);
}

.detail-div {
  width:  78%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* line-height: 2px; */
  padding: 10px 0 100px;
  margin: 0 auto;
}

.detail-title {
  font-size: 20px;
}

.event-details {
  max-width: 750px;
  max-height: 30px;
}


.attendees {
  font-size: 20px;
  width:  100%;
  /* padding-bottom: 100px; */
}

.oe-attend-footer {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: white;
  margin-top: 20px;
  /* padding: 20px; */
  box-sizing: border-box;
}

.left-attend-footer {
  width: fit-content;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  /* margin: 0 10px; */
  height: 70px;
  justify-content: center;

}

.left-attend-footer p {
  margin: 5px 20px;
}

.not-going-button {
  color: teal;
  font-weight: 400;
  padding: 0;
  font-size: 16px;
  margin: 5px 0;
}

.going-p-tag {
  font-weight: 700;
  margin: 10px 0 5px;
}

.going-container {
  margin-right: 20px;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.attendee-item-container {
  display: flex;
}

.oe-attendee-item-container {
  width: 150px;
  height: 200px;
  background-color: white;
  padding: 20px 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  margin-right: 2%;
}

.attendee-name-status {
  margin-top: 15px;

  height: fit-content;
  text-align: center;
}

.attendee-name-status p {
  margin: 0;
  padding: 0;
  line-height: 13px;
}

.attendee-name {
  font-size: 14px;
  font-weight: 700;

}

.nav-user.event-attendee {
  width: 70px;
  height: 70px;
  font-size: 30px;
}

.attendee-title {
  font-size: 12px;
  opacity: .6;
}
