.group-list-container {
  width: 100%;
}

.not-logged-in {
  /* padding: 40px 150px; */
}

.group-container {
  height: 200px;
  border-top: 1px solid lightgray;
  width: 100%;
  display: flex;
  align-items: center;
}

.img-container {
  height: 150px;
  width: fit-content;
}

.preview-img {
  height: 150px;
  width: 250px;
  border-radius: 7px;
  object-fit: cover;
}

.group-description {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  height: 150px;
  justify-content: space-between;
  width: 100%;
}

.group-name {
  font-size: 20px;
  font-weight: 600;
}

.group-location {
  font-size: 16px;
  font-weight: 500;
  color: rgb(135, 116, 87);
}

.group-about {
  color: rgb(117, 117, 117);
  font-size: 14px;
  max-height: 50px;
  max-width: 600px;
  overflow: scroll;
}

.group-name,
.group-about,
.group-location {
  margin: 0 0 10px;
}

.group-info-members {
  font-size: 14px;
  color: rgb(117, 117, 117);
}

.back-btn {
  margin-bottom: 20px;
  font-size: 22px;
  color: rgb(117, 117, 117);
}

form > button {
  margin-top: 20px;
}
