.group-list-container {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  top: 25px;
}

hr {
  border-top: 1px solid lightgray;
}

.group-container {
  width: 50%;
  height: 145px;
  position: relative;
  left: 350;
  margin: 30px 10px;
  padding-bottom: 20px;
}

.img-container {
  height: 100px;
  width: fit-content;
}

.preview-img {
  border: 1px solid lightgray;
  position: absolute;
  top: 18px;
  width: 122px;
  height: 90px;
  border-radius: 3px;
}

.group-name {
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  top: -2;
  left: 150;
}

.group-location {
  position: absolute;
  top: 32px;
  left: 150;
  font-size: 14px;
  font-weight: 500;
  color: rgb(135, 116,87)
}

.group-about {
  position: absolute;
  left: 150;
  top: 65px;
  color: rgb(117, 117, 117);
  font-size: 14px;
}

.group-info-members {
  position: absolute;
  bottom: -5;
  left: 150;
  font-size: 14px;
  color: rgb(117, 117, 117);
}

.back-btn {
  margin-bottom: 20px;
  font-size: 22px;
  color: rgb(117, 117, 117);
}

form > button {
  margin-top: 20px;
}
