#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: absolute;
  background-color:white;
  border-radius: 8px;
  max-height: 80%;
  overflow: scroll;
}

.errors-container {
  width: 90%;
  text-align: center;
  align-items: center;
}

.errors {
  width: 90%;
  color: red;
}

.fa-people-pulling {
  position: relative;
  top: 30;
  left: 216;
  background-color: rgb(246, 64, 96);
  padding: 10px;
  margin: 13px 0 0;
  border-radius: 50%;
  color: white;
  font-size: 21px;
}

p > button {
  color: rgb(0, 130, 148);
  font-weight: 400;
}

form {
  display: block;
  width: 100%;
}

.modal-form-title {
  text-align: center;
  font-size: 28px;
}

.not-member {
  text-align: center;
}

.modal-container {
  border-radius: 8px;
}

.close-modal {
  font-size: medium;
  color: #757575c8;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px;
}

.modal-form-container {
  padding: 20px 40px;
  width: 400px;
  border-radius: 8px;
}

.input-label {
  font-size: 16px;
  font-weight: 500;

}

.input-item {
  padding: 8px 12px;
  display: block;
  height: 40px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 24px;
  margin-top: 8px;
  width: 100%;
  font-size: 16px;
}

#modal-btns {
  display: block;
  height: 40px;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  background-color: rgb(246, 88, 88);
  color: #fff;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  margin-bottom: 15px;
}

#modal-btns:hover {
  background-color: #f65858e2;
  cursor: pointer;
}

.input-item:focus {
  outline: 1px solid teal;
  border: none;
}
