.home-page-container {
  border: 1px solid transparent;
  width: 100%;
  height: fit-content;
}

.welcome-user {
  margin: 60px 10px 0;
  font-size: 24px;
  font-weight: 700;
}

.toggle-area-container {
  margin: 0 10px 0 5px;
  overflow-y: hidden;
}

.group-container:hover {
  cursor: pointer;
}

.events-btn, .groups-btn {
  font-size: 22px;
  color: rgb(117, 117, 117);
  margin-right: 8px;
}

.events-btn:focus, .groups-btn:focus {
  color: rgb(0, 130, 148);
  border-bottom: 5px solid rgb(0, 130, 148);
}
