.welcome-user p {
  font-size: 40px;
  font-weight: 800;
  margin: 0 0 30px;
}

.hp-toggle-area-container {
  margin: 0 10px 30px 5px;
  overflow-y: hidden;
  position: relative;
}

.group-container:hover {
  cursor: pointer;
}

.selected-header {
  color: rgb(0, 130, 148);
  outline: none;
  border-bottom: 5px solid rgb(0, 130, 148);
  font-size: 22px;
  margin-right: 8px;
}

.unselected-header {
  font-size: 22px;
  color: rgb(117, 117, 117);
  margin-right: 8px;
}

@media only screen and (min-width: 1024px) {
  .home-page-content {
    margin: 0 130px;
    /* border: 1px solid blue; */
    /* padding: 0 130px; */
    /* width: 100%; */
  }
}
