.home-page-container {
  border: 1px solid transparent;
  width: 100%;
  height: fit-content;
}

.welcome-user {
  margin: 60px 10px 0;
  font-size: 24px;
  font-weight: 700;
}

.toggle-area-container {
  margin: 0 10px 0 5px;
  overflow-y: hidden;
  position: relative;
  left: 350;
  width: fit-content;
}

.group-container:hover {
  cursor: pointer;
}

.selected-header {
  color: rgb(0, 130, 148);
  outline: none;
  border-bottom: 5px solid rgb(0, 130, 148);
  font-size: 22px;
  margin-right: 8px;
}

.unselected-header {
  font-size: 22px;
  color: rgb(117, 117, 117);
  margin-right: 8px;
}
