.group-image {
  height: 50%;
  width: fit-content;
  border-radius: 10px;
}
.image-container {
  width: 50%;
  height: 600px;
  margin-left: 20px;
}
/* button {
  display: block;
  height: 40px;
  font-size: 20px;
  font-weight: 600;
  width: 200px;
  background-color: rgb(246, 88, 88);
  color: #fff;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  margin: 50px 15px;
} */

/* button:hover {
  background-color: #f65858e2;
  color: #fff;
  cursor: pointer;
} */


/* .one-group-container {
  border: 1px solid blue;
  padding-top: 50px;
  position: relative;
  margin-top: 100px;
}

.group-name {
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  top: 35;
  left: 490;
}


hr {
  border-top: 1px solid lightgray;
} */

/* .group-container {
  width: 300px;
  height: 145px;
  position: relative;
  margin: 0 10px;
  padding-bottom: 20px;
} */

/* .group-location {
  position: absolute;
  top: 68;
  left: 490;
  font-size: 14px;
  font-weight: 500;
  color: rgb(135, 116,87)
}

.group-about {
  position: absolute;
  left: 135px;
  top: 60px;
  color: rgb(117, 117, 117);
  font-size: 14px;
}

.group-info-members {
  position: absolute;
  bottom: -10;
  left: 135px;
  font-size: 14px;
  color: rgb(117, 117, 117);
}

@media screen and (max-width: 840px) {
  .img-container {
    width: 100%;

  }
} */
