.event-list-container {
  width: 100%;
}

.event-container {
  height: 200px;
  border-top: 1px solid lightgray;
  width: 100%;
  display: flex;
  align-items: center;
}

.event-container:hover {
  cursor: pointer;
}

.img-container {
  height: 150px;
  position: relative;
}

.preview-img {
  height: 150px;
  width: 250px;
  border-radius: 7px;
  object-fit: cover;
}

.events-description {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  height: 150px;
  justify-content: space-between;
  width: 100%;
}

.event-name {
  font-size: 16px;
  font-weight: 600;
}

.event-dates {
  font-size: 16px;
  font-weight: 600;
  color: rgb(135, 116, 87);
}

.event-group-name-location {
  font-size: 14px;
  color: rgb(117, 117, 117);
}

.event-dates,
.event-name,
.event-group-name-location {
  margin: 0 0 10px;
}

.event-info-members {
  font-size: 14px;
  color: rgb(117, 117, 117);
}

.event-type {
  position: absolute;
  top: 0;
  left: 10;
  font-size: 16px;
  font-weight: 600;
  padding: 3px 5px;
  color: rgb(117, 117, 117);
  background-color: white;
  border-radius: 3px;
}

.back-btn {
  margin-bottom: 20px;
  font-size: 22px;
}
