/* TODO Add site wide styles */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
  color: #212121;
  word-break: break-word;
  /* overflow: hidden; */
  /* overflow-x: hidden; */

}
