/* TODO Add site wide styles */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
  font-family: Graphik Meetup, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica, Arial, sans-serif;
  color: #212121;
  word-break: break-word;
}

html,
body {
  width: 100%;
}

.fa-people-pulling {
  background-color: rgb(246, 64, 96);
}
