
.splash-page-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.page-left {
  width: 50%;
  flex-direction: column;
  display: flex;
  margin: 0 15px;
}

.page-title {
  width: 100%;
  font-size: 48px;
  font-weight: 800;
}

.page-description {
  width: 100%;
  font-size: 16px;
}

.page-right {
  display: inline-block;
  width: 50%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  margin-top: 50px;
  padding-top: 0;
}

.main-img {
  height: 232px;
  width: 100%;
}

.yellow-blob {
  width: 75%;
  position: absolute;
  top: 200;
  right: 100;
  z-index: -75;
}

.green-blob {
  width: 500px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -75;
}

.red-blob {
  position: absolute;
  bottom: -200;
  z-index: -75;
}

.feature-buttons {
  display: flex;
  justify-content: center;
  margin-top: 8%;
}

.link {

  text-decoration: none;
}

#btn1, #btn2 {
  display: block;
  height: 40px;
  font-size: 20px;
  font-weight: 600;
  width: 200px;
  background-color: rgb(246, 88, 88);
  color: #fff;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  margin: 50px 15px;
}

#btns1:hover, #btns2:hover {
  background-color: #f65858e2;
  cursor: pointer;
}

@media screen and (max-width: 635px) {
  .feature-buttons {
    margin-top: 0;
  }
}

@media screen and (max-width: 575px) {
  .splash-page-content {
    display: flex;
    flex-wrap: wrap;
  }

  .page-left {
    width: 500px;
    margin: 50px 25px 0;
  }

  .page-title {
    font-size: 30px;
  }

  .page-description {
    font-size: 16px;
  }

  .page-right {
    margin-top: 0;
    width: 500;
  }

  .green-blob {
    width: 80%;
  }

  .yellow-blob, .red-blob {
    visibility: hidden;
  }
}

@media screen and (min-width: 1120px) {
  .splash-page-content {
    margin: 5px 50px;
  }
}
