
.splash-page-container {
  overflow: hidden;
  /* border: 1px solid red; */
  width: 100%;
}

.splash-page-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  overflow-y: hidden;
  /* border: 1px solid red; */
}

.page-left {
  width: 50%;
  flex-direction: column;
  display: flex;
  margin: 100px 15px 0 90px;
}

.page-title {
  width: 100%;
  font-size: 48px;
  font-weight: 800;
}

.page-description {
  width: 90%;
  font-size: 16px;
  line-height: 24px;
  margin-top: 0;
}

.page-right {
  display: inline-block;
  width: 50%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  margin-top: 110px;
  padding-top: 0;
}

.main-img {
  height: 232px;
  width: 100%;
}

.yellow-blob {
  width: 75%;
  position: absolute;
  top: 200;
  right: 100;
  z-index: -75;
  object-fit: cover;
}

.green-blob {
  width: 500px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -75;
}

.red-blob {
  position: absolute;
  bottom: -200;
  z-index: -75;
}

.feature-buttons {
  display: flex;
  justify-content: center;
  /* margin-top: 8%; */
  /* margin: 5% 50px; */
  margin: 5% 30px 5% 70px;
  width: 90%;
  /* border: 1px solid red; */
}

.link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: 1px solid blue; */
  margin: 15px 10px;

  width: 375px;
}

.link-img {
  border-radius: 10px;
  width: 100%;
  height: 200px;
}

.link-text {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
	color: rgb(0, 130, 148);
  position: relative;
}

.arrow-guy {
  margin-left: 10px;
  position: absolute;
  top: 3;
  /* width: 15px; */
}

.link:hover {
  text-decoration: underline;
	color: rgb(0, 130, 148);
  opacity: 0.8;
}

.how-it-works {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how-title {
  font-size: 30px;
  color: black;
  margin-bottom: 5px;
}

.how-text {
  margin-top: 6px;
  width: 40%;
  text-align: center;
  line-height: 24px;
}

.join-find-start {
  display: flex;
  width: 80%;
  align-items: space-evenly;
}

.start-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
  margin: 25px 13px;
}

.start-link-img {
  width: 160px;
  height: 145px;
}

.start-link-btn, button.start-group > button {
  margin-top: 15px;
  color:rgb(0, 130, 148);
  font-size: 20px;
  font-weight: 700;
}

.start-link-btn:hover, button.start-group > button:hover {
  text-decoration: underline;
}

.start-link-text {
  line-height: 24px;
  font-size: 14px;
  text-align: center;
  width: 85%;
}

.join-div {
  display: flex;
  justify-content: center;
}

p.join-btn > button {
  margin: 35px 0 100px 0;
  background-color: rgb(0, 130, 148);
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  width: 130px;
  z-index: 100;
}

p.join-btn > button:hover {
  opacity: .9;
  color: white;
}

.footer {
  width: 100%;
  height: 200px;
  background-color: rgb(33, 33, 33);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dev-info {
  color: white;
}
.contact-div {
  display: flex;
  flex-direction: row;
}

.contact-btns {
  background-color: white;
  margin: 5px 10px;
  font-size: 30px;
  border-radius: 5px;
  width: 40px;
  height: 40px;
}

a:visited {
  text-decoration: none;
  color: transparent;
}

a:hover {
  color: rgb(0, 130, 148)
}

@media screen and (max-width: 635px) {
  .feature-buttons {
    margin-top: 0;
  }
}

@media screen and (max-width: 575px) {
  .splash-page-content {
    display: flex;
    flex-wrap: wrap;
  }

  .page-left {
    width: 500px;
    margin: 50px 25px 0;
  }

  .page-title {
    font-size: 30px;
  }

  .page-description {
    font-size: 16px;
  }

  .page-right {
    margin-top: 0;
    width: 500;
  }

  .green-blob {
    width: 80%;
  }

  .yellow-blob, .red-blob {
    visibility: hidden;
  }
}

@media screen and (min-width: 1120px) {
  .splash-page-content {
    margin: 5px 50px;
  }
}
