
.splash-page-container {
  overflow: hidden;
  /* border: 1px solid red; */
  width: 100%;
}

.splash-page-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  overflow-y: hidden;
  /* border: 1px solid red; */
}

.page-left {
  width: 50%;
  flex-direction: column;
  display: flex;
  margin: 100px 15px 0 90px;
}

.page-title {
  width: 100%;
  font-size: 48px;
  font-weight: 800;
}

.page-description {
  width: 90%;
  font-size: 16px;
  line-height: 24px;
}

.page-right {
  display: inline-block;
  width: 50%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  margin-top: 110px;
  padding-top: 0;
}

.main-img {
  height: 232px;
  width: 100%;
}

.yellow-blob {
  width: 75%;
  position: absolute;
  top: 200;
  right: 100;
  z-index: -75;
  object-fit: cover;
}

.green-blob {
  width: 500px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -75;
}

.red-blob {
  position: absolute;
  bottom: -200;
  z-index: -75;
}

.feature-buttons {
  display: flex;
  justify-content: center;
  /* margin-top: 8%; */
  /* margin: 5% 50px; */
  margin: 5% 30px 5% 70px;
  width: 90%;
  /* border: 1px solid red; */
}

.link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: 1px solid blue; */
  margin: 15px 10px;

  width: 375px;
}

.link-img {
  border-radius: 10px;
  width: 100%;
  height: 200px;
}

.link-text {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
	color: rgb(0, 130, 148);
  position: relative;
}

.arrow-guy {
  margin-left: 10px;
  position: absolute;
  top: 3;
  /* width: 15px; */
}

.link:hover {
  text-decoration: underline;
	color: rgb(0, 130, 148);
  opacity: 0.8;
}

/* .link-text:hover {
  text-decoration: underline;
	color: rgb(0, 130, 148);
} */
/* #btn1, #btn2 {
  display: block;
  height: 40px;
  font-size: 20px;
  font-weight: 600;
  width: 200px;
  background-color: rgb(246, 88, 88);
  color: #fff;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  margin: 50px 15px;
}

#btn1:hover, #btn2:hover {
  background-color: #f65858e2;
  cursor: pointer;
} */

@media screen and (max-width: 635px) {
  .feature-buttons {
    margin-top: 0;
  }
}

@media screen and (max-width: 575px) {
  .splash-page-content {
    display: flex;
    flex-wrap: wrap;
  }

  .page-left {
    width: 500px;
    margin: 50px 25px 0;
  }

  .page-title {
    font-size: 30px;
  }

  .page-description {
    font-size: 16px;
  }

  .page-right {
    margin-top: 0;
    width: 500;
  }

  .green-blob {
    width: 80%;
  }

  .yellow-blob, .red-blob {
    visibility: hidden;
  }
}

@media screen and (min-width: 1120px) {
  .splash-page-content {
    margin: 5px 50px;
  }
}
