
.one-group-container {
  /* position: relative;*/
  display: flex;
  justify-content: center;

  width: 100%;
  border-top: 1px solid rgba(211, 211, 211, 0.599);
  border-bottom: 1px solid rgba(211, 211, 211, 0.599);
}

.one-group-image {
  border-radius: 10px;
  height: auto;
  min-width: 500px;

  width: 100%;
  /* display: block; */
  /* position: absolute; */
  object-fit: cover;
}

.one-group-image-container {
  width: 500px;
  height: auto;
  /* position: relative; */
  margin: 50px 30px;
}

.one-group-description {
  height: 350px;
  width: fit-content;
  margin: 25px 30px 0;
}

.og-about-info {
  display: flex;
  align-items: center;
}

.og-about-info > p {
  margin-left: 10px;
}

.one-group-name {
  /* font-size: 32px; */
  /* border: 1px solid rebeccapurple; */
  height: 60px;
  width: fit-content;
  font-weight: 800;
  /* position: relative; */
  /* left: -325; */
  margin-bottom: 0;
}

.one-group-info {
  /* position: relative;
  top: -30; */
  width: 300px;
  height: fit-content;
}

.location-img {
  width: 20px;
  height: 20px;
  opacity: .5;
  /* position: absolute;
  top: 12;
  left: 5; */
}

.one-group-location {
  font-size: 14px;
  color: rgb(117, 117, 117);
  /* position: absolute;
  top: 0;
  left: 35; */
}

.one-group-info-members {
  font-size: 14px;
  color: rgb(117, 117, 117);
  /* position: absolute;
  top: 30;
  left: 35; */
}


.users-img {
  width: 20px;
  height: 20px;
  /* position: absolute;
  top: 40;
  left: 5; */
}

.user-img {
  width: 20px;
  height: 20px;
  /* position: absolute;
  top: 70;
  left: 5; */
  opacity: .5;
}

.organized {
  font-size: 14px;
  color: rgb(117, 117, 117);
}

.organized > strong {
  color: black;
}

.about-title {
  /* position: absolute;
  top: 110; */
  font-weight: 600;
}

.one-group-about {
  /* position: absolute; */
  /* top: 145; */
  font-size: 16px;
  width: 100%;
  /* height: 170px; */
  overflow-y: scroll;
}

.user-actions {
  margin-left: 40px;
}

.user-btns {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.user-actions > button {
  background-color: rgba(211, 211, 211, 0.526);
  width: 250px;
  height: 45px;
  border-radius: 15px;
  font-size: 18px;
  margin: 0 30px;
}

.user-actions > button:hover {
  color: white;
}

.og-middle-page {
  background-color: rgb(246, 247, 248);
  height: 100%;
}

.tabs-container {
  display: flex;
  flex-direction: column;
  /* position: relative; */
  /* width: 500px; */
  height: fit-content;
  /* background: #f8dfe08f; */
  /* margin: 0 auto 0; */
  /* word-break: break-all; */
  /* border: 1px solid rgba(0, 0, 0, 0.274); */
}


.bloc-tabs {
  display: flex;
  flex-direction: row;
  height: 100%;
  background-color: white;
  border-bottom: 1px solid rgba(211, 211, 211, 0.599);

  /* padding: 15px; */
}

.tabs {
  /* background: #ffccce; */
  padding: 15px;
  text-align: center;
  width: 100px;
  cursor: pointer;
  /* border: 1px solid white; */
  box-sizing: content-box;
  /* position: relative; */
  /* outline: none; */
  /* margin-top: 5px; */
}
/* .tabs:not(:last-child){
  border-right: 1px solid rgba(0, 0, 0, 0.274);
} */

.active-tabs  {
  color: teal;
  border-bottom: 1px solid transparent;
}

.content-tabs {
  flex-grow : 1;
}

.contents {
  background: white;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  display: none;
}

.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}

.content p {
  width: 100%;
  height: 100%;
}

.active-content {
  display: block;
  flex-direction: column;
  height: 100%;
  background-color: transparent;

}
