.one-group-container {
  display: flex;
  justify-content: center;
  width: 100%;
  border-top: 1px solid rgba(211, 211, 211, 0.599);
  border-bottom: 1px solid rgba(211, 211, 211, 0.599);
  background-color: white;
}

.one-group-page {
  background-color: rgb(246, 247, 248);
  overflow-x: hidden;
  height: 100%;
}

.one-group-image {
  border-radius: 8px;
  height: 337px;
  min-width: 500px;
  width: 600px;
  object-fit: cover;
}

.one-group-image-container {
  width: 600px;
  height: auto;
  margin: 50px 10px;
}

.one-group-description {
  height: 350px;
  width: fit-content;
  margin: 25px 30px 0;
}

.og-about-info {
  display: flex;
  align-items: center;
}

.og-about-info > p {
  margin-left: 10px;
}

.one-group-name {
  height: 60px;
  width: fit-content;
  font-weight: 800;
  margin-bottom: 0;
}

.one-group-info {
  width: 300px;
  height: fit-content;
}

.location-img {
  width: 20px;
  height: 20px;
  opacity: 0.5;
}

.one-group-location {
  font-size: 14px;
  color: rgb(117, 117, 117);
}

.one-group-info-members {
  font-size: 14px;
  color: rgb(117, 117, 117);
}

.users-img {
  width: 20px;
  height: 20px;
}

.user-img {
  width: 20px;
  height: 20px;
  opacity: 0.5;
}

.organized {
  font-size: 14px;
  color: rgb(117, 117, 117);
}

.organized > strong {
  color: black;
}

.about-title {
  font-weight: 600;
  width: 100%;
}

.one-group-about {
  font-size: 16px;
  width: 100%;
  overflow-y: scroll;
}

.user-actions {
  margin-left: 40px;
}

.user-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.user-actions > button {
  background-color: rgba(211, 211, 211, 0.526);
  width: 250px;
  height: 45px;
  border-radius: 15px;
  font-size: 18px;
  margin: 0 30px;
}

.user-actions > button:hover {
  color: white;
}

.og-middle-page {
  height: fit-content;
  background-color: rgb(246, 247, 248);
}

#modal-btns.og-join-btn.join-leave-btn {
  width: 150px;
  font-size: 15px;
  margin: 0;
  height: 40px;
  white-space: nowrap;
  /* margin: 15px 225px 15px 35px; */
}

.tabs-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-items: start;
  width: 100%;
}

.bloc-tabs {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  background-color: white;
  border-bottom: 1px solid rgba(211, 211, 211, 0.599);
  align-items: center;
  /* margin-left: -100px; */
}

.tabs {
  padding: 15px;
  text-align: center;
  width: fit-content;
  cursor: pointer;
  box-sizing: content-box;
}

.active-tabs {
  color: teal;
  border-bottom: 1px solid transparent;
}

.content-tabs {
  flex-grow: 1;
  width: 100%;
}

.contents {
  background: white;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  display: none;
}

.about-title,
.one-group-about {
  margin-left: 40px;
}

.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}

.content p {
  width: 100%;
  height: 100%;
}

.active-content {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  height: fit-content;
  background-color: transparent;
  width: 70%;
  /* margin: 0 15%; */
  align-items: center;
}

.contents.active-content {
  width: 100%;
  padding: 0;
  align-items: center;
}

.og-mambers-container-title span {
  /* border: 1px solid red; */
  opacity: 0.3;
}

.og-member-item-container,
.og-event-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

.og-member-display-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}

.member-image-container .nav-user {
  margin-right: 20px;
  width: 65px;
  height: 65px;
}

.member-name-join {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50px;
}

.member-name-join > p {
  margin: 0;
}

.member-name {
  font-weight: 600;
}

.og-mambers-container,
.og-events-container {
  width: 95%;
  background-color: white;
  border-radius: 8px;
  margin: 30px 0;
  padding: 10px 20px;
  box-sizing: border-box;
}

.og-events-container {
  background-color: transparent;
}

.og-new-feature {
  text-align: center;
}

.og-event-details-container {
  /* border: 1px solid red; */
  width: 100%;
  background-color: white;
  padding: 10px 20px 20px;
  border-radius: 8px;
}

.og-event-date {
  font-weight: 700;
  color: teal;
  font-size: medium;
  margin-bottom: 0;
}

.og-event-name {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 25px;
}

.og-event-type {
  display: flex;
  align-items: center;
  color: rgb(117, 117, 117);
  font-size: large;
}

.og-event-type > img,
.og-event-type > p {
  margin: 0 8px 8px 0;
}

.og-event-description {
  margin-top: 0;
}

.og-event-attendee-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.og-event-attendees {
}

.og-attendee-count {
  color: rgb(117, 117, 117);
  font-size: large;
}

.og-attend-button {
  border: 2px solid teal;
  color: teal;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: larger;
  font-weight: 400;
}

.og-attend-button:hover {
  color: white;
  background-color: teal;
}

@media screen and (max-width: 990px) {
  .one-group-container {
    flex-direction: column;
    margin: 0 -10px;
    width: 100%;
    justify-content: start;
    /* align-items: start; */
  }

  .one-group-description,
  .one-group-name {
    margin-top: 0;
    height: fit-content;
  }

  .one-group-image,
  .one-group-image-container {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .bloc-tabs {
    /* justify-content: start; */
    justify-content: space-evenly;
    height: 50px;
  }

  .tabs {
    padding: 5px;
  }

  /* #modal-btns.og-join-btn.join-leave-btn {
    display: none;
  } */
}
