
.one-group-container {
  display: flex;
  justify-content: center;
  width: 100%;
  border-top: 1px solid rgba(211, 211, 211, 0.599);
  border-bottom: 1px solid rgba(211, 211, 211, 0.599);
  background-color: white;
}

.one-group-page {
  background-color: rgb(246, 247, 248);
  overflow-x: hidden;
  height: 100%;
}

.one-group-image {
  border-radius: 8px;
  height: 337px;
  min-width: 500px;
  width: 600px;
  object-fit: cover;
}

.one-group-image-container {
  width: 600px;
  height: auto;
  margin: 50px 10px;
}

.one-group-description {
  height: 350px;
  width: fit-content;
  margin: 25px 30px 0;
}

.og-about-info {
  display: flex;
  align-items: center;
}

.og-about-info > p {
  margin-left: 10px;
}

.one-group-name {
  height: 60px;
  width: fit-content;
  font-weight: 800;
  margin-bottom: 0;
}

.one-group-info {
  width: 300px;
  height: fit-content;
}

.location-img {
  width: 20px;
  height: 20px;
  opacity: .5;
}

.one-group-location {
  font-size: 14px;
  color: rgb(117, 117, 117);
}

.one-group-info-members {
  font-size: 14px;
  color: rgb(117, 117, 117);
}


.users-img {
  width: 20px;
  height: 20px;
}

.user-img {
  width: 20px;
  height: 20px;
  opacity: .5;
}

.organized {
  font-size: 14px;
  color: rgb(117, 117, 117);
}

.organized > strong {
  color: black;
}

.about-title {
  font-weight: 600;
}

.one-group-about {
  font-size: 16px;
  width: 70%;
  overflow-y: scroll;
}

.user-actions {
  margin-left: 40px;
}

.user-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.user-actions > button {
  background-color: rgba(211, 211, 211, 0.526);
  width: 250px;
  height: 45px;
  border-radius: 15px;
  font-size: 18px;
  margin: 0 30px;
}

.user-actions > button:hover {
  color: white;
}

.og-middle-page {
  height: fit-content;
  background-color: rgb(246, 247, 248);
}

#modal-btns.og-join-btn {
  width: fit-content;
  font-size: 15px;
  margin: 15px 30px 15px 40px;
}

.tabs-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-items: center;
  width: 100%;
}


.bloc-tabs {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: center;
  background-color: white;
  border-bottom: 1px solid rgba(211, 211, 211, 0.599);
  align-items: center;
  margin-left: -170px;
}

.tabs {
  padding: 15px;
  text-align: center;
  width: 100px;
  cursor: pointer;
  box-sizing: content-box;
}

.active-tabs  {
  color: teal;
  border-bottom: 1px solid transparent;
}

.content-tabs {
  flex-grow : 1;
}

.contents {
  background: white;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  display: none;

}

.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}

.content p {
  width: 100%;
  height: 100%;
}

.active-content {
  display: block;
  flex-direction: column;
  min-height: 100px;
  height: fit-content;
  background-color: transparent;

}

.og-mambers-container-title span{
  /* border: 1px solid red; */
  opacity: 0.3;
}

.og-member-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

.og-member-display-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}

.member-image-container .nav-user {
  margin-right: 20px;
  width: 65px;
  height: 65px;
}

.member-name-join {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50px;

}

.member-name-join > p {
  margin: 0;
}

.member-name {
  font-weight: 600;
}

.og-mambers-container {
  width: 95%;
  background-color: white;
  border-radius: 8px;
  margin: 30px 10px;
  padding: 10px 20px;
  box-sizing: border-box;

}

.og-new-feature {
  text-align: center;
}
